.searchbar{
	display: flex;
	background:#F12A15;
	height:100px;
	justify-content: center;
	align-items: center;
	.container{
		width: 80%;
		height: 54px;
		background: #fff;
		display: flex;
		flex-direction: row;
	}
	.buttonWrapper{
    display: flex;
    padding: .5em;
    justify-content: center;
    align-items: center;
	}
}