.wrapper {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #E0E0E0;
  padding: 1.5em;
  transition: all .15s ease-in;
  &.show {
    background-color: #F6F7F9;
    transition: all .15s ease-out;
  }
  .resultItem {
    display: flex;
    flex: 1;
    flex-direction: row;
    min-height: 95px;
    >div {
      display: flex;
      flex: 1;
      justify-content: center;
      align-items: flex-start;
    }
    .airlines {
      flex-direction: column;
      color: #888D99;
      font-size: 13px;
    }
    .departure,
    .arrival {
      position: relative;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      &:after {
        position: absolute;
        width: 18px;
        height: 18px;
        right: 25%;
        content: ' ';
        background-image: url('/svg/plane.svg');
        background-repeat: no-repeat;
        background-size: cover;
      }
      &.arrival:after {
        display: none;
      }
      span {
        display: flex;
        flex: 1;
        width: 100%;
        justify-content: flex-start;
      }
      .time {
        align-items: flex-end;
        font-size: 20px;
      }
      .code {
        font-size: 14px;
      }
    }
    .timing {
      display: flex;
      flex-direction: column;
      >span {
        display: flex;
        flex: 1;
        &:first-child {
          font-size: 18px;
          align-items: flex-end;
        }
        &:nth-child(2) {
          font-size: 14px;
          color: #888D99
        }
      }
    }
    .price {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      flex: 2;
      >div {
        background-color: #F6F7F9;
        height: 64px;
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        .priceInfo {
          display: flex;
          flex-direction: column;
          span:nth-child(2) {
            color: #888D99;
            font-size: 14px;
          }
        }
      }
    }
  }
  .moreInfo {
    display: flex;
    flex-direction: row;
    >div {
      display: flex;
      flex-direction: row;
      flex: 1;
      >div {
        background-color: #fff;
      }
      .flightInfo {
        padding: 1em;
        display: flex;
        flex: 2 1 auto;
        margin-right: .5em;
        flex-direction: column;
        >div {
          display: flex;
          flex: 1;
          margin-bottom: 1em;
          &:last-child {
            margin-bottom: 0;
          }
        }
        .exDeparture {
          display: flex;
          flex-direction: column;
          flex: 1;
          align-items: center;
          max-width: 80px;
          &:last-child {
            max-width: 130px;
            align-items: flex-start;
          }
        }
        .exTime {
          font-size: 16px;
          color: #3F4146;
        }
        .exCode {
          font-size: 12px;
          color: #3F4146;
        }
        .cycle {
          display: flex; // align-items: center;
          justify-content: center;
          flex: 2;
          font-size: 14px;
          color: #888D99;
          background-image: url('/images/line.png');
          background-repeat: repeat-x;
          background-position: center;
          background-size: contain;
          position: relative;
          padding: 0 .5em;
          &:before,
          &:after {
            width: 5px;
            height: 5px;
            border-radius: 5px;
            background-color: #888D99;
            content: '';
            position: absolute;
            top: calc(50% - 2.5px);
          }
          &:before {
            left: 0;
          }
          &:after {
            right: 0;
          }
        }
      }
      .airlinesInfo {
        padding: 1em;
        flex: 1 1 auto;
        margin-left: .5em;
        ul {
          margin: 0;
          padding: 0;
          list-style: none;
          display: flex;
          justify-content: space-between;
          flex-direction: column;
          flex: 1;
          height: 100%;
          li {
            font-size: 14px;
            color: #888D99;
            span {
              margin-right: .5em;
              text-transform: uppercase;
            }
          }
        }
      }
    }
  }
}