@import './variables.scss';
.container {
  display: flex;
  flex-direction: row;
  width: $container-width;
  margin: 0 auto;
  flex-wrap: wrap;
  @include tablet {
    width: $container-tablet-width;
  }
  @include mobile {
    width: $container-mobile-width;
  }
  >div {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  }
  .filters {
    display: flex;
    flex-direction: column;
    width: 22.5%;
    flex: 1;
    background-color: white;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    margin-right: 2.5%;
    >div {
      padding: 1em;
    }
    >div:first-child {
      padding-top: .5em;
    }
    >div:not(:last-child) {
      border-bottom: 1px solid #E0E0E0;
    }
  }
  .results {
    display: flex;
    width: 75%;
    flex-direction: column;
  }
}

.pagination {
  display: flex;
  flex: 1;
  justify-content: center;
  box-shadow: none !important;
  margin-top: 1em;
  >div {
    margin-left: auto;
  }
}

.break {
  flex-basis: 100%;
  width: 0px;
  height: 0px;
  overflow: hidden;
  display: block;
}